.header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: 2.2s ease-out;
}

.space {
    height: 100px;
}

.header {
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 44;
    transition: 0.2s ease-out;
    background: #000000;
}

.logo {
    width: 170px;
    height: 56px;
}

.logo svg,
.dark-light-mood svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__list__item {
    display: inline-block;
    margin-left: 0px;
}

.header__nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 35px;
    transition: all 0.7s ease;
}

.header__list__links {
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    transition: all 0.15s linear;
}

.header__list__links:hover,
.header__phone:hover {
    color: #FF7400;
}

.header__phone {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    gap: 12px;
    align-items: center;
    transition: all 0.15s linear;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FF7400;
}


/**/

.paga__navigation--section {
    display: flex;
    max-width: 200px;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

.paga__navigation--section a {
    color: #FF7400;
}

.paga__navigation--section p {
    color: #353643;
}


/**/

.first__section {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
}

.first__section p {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    background: linear-gradient(180deg, #353643 0%, #3A4C5F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 50px;
}

.first__img {
    right: 0;
    max-width: 1760px;
    max-height: 800px;
}

.first__img img {
    right: 0;
}


/*nav*/

@media (max-width: 992px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .header__nav__links {
        padding: 50px;
        position: fixed;
        right: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        /* backdrop-filter: blur(5px); */
        background: #000000;
        transform: 0.3s;
    }
    .header__list__item {
        margin: 16px 0;
    }
    .header__nav__links.active {
        right: 0;
    }
}